<h2 mat-dialog-title>Edit Password</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Current Password</mat-label>
      <input matInput formControlName="currentPassword" />
      <mat-error *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
        Current Password is Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" />
      <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
       Please Enter New Password!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" />
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">
       Password Do not Match!
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="passwordForm.invalid">Save</button>
</mat-dialog-actions>
