form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;

  mat-form-field {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  gap: 10px;

  button {
    width: 100%;
  }
}

.image-preview {
  margin-top: 10px;
  max-width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  // background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
