<h2 mat-dialog-title>{{ isEdit ? 'Edit Blog' : 'Create Blog' }}</h2>
<div mat-dialog-content>
  <form [formGroup]="blogForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      <mat-error *ngIf="blogForm.get('title')?.hasError('required')">
        Title is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="blogForm.get('description')?.hasError('required')">
        Description is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option value="Fashion">Fashion</mat-option>
        <mat-option value="Sports">Sports</mat-option>
        <mat-option value="News">News</mat-option>
        <mat-option value="Movies">Movies</mat-option>
        <mat-option value="Games">Games</mat-option>
        <mat-option value="Food">Food</mat-option>
      </mat-select>
      <mat-error *ngIf="blogForm.get('category')?.hasError('required')">
        Category is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Created By</mat-label>
      <input matInput formControlName="createdBy" required />
      <mat-error *ngIf="blogForm.get('createdBy')?.hasError('required')">
        Created By is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Created On</mat-label>
      <input matInput formControlName="createdOn" [matDatepicker]="picker" required />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="blogForm.get('createdOn')?.hasError('required')">
        Created On is required.
      </mat-error>
    </mat-form-field>


    <div class="image-upload">
      <input type="file" (change)="onImageSelected($event)" accept="image/*" hidden #fileInput />
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>upload</mat-icon> Add Image
      </button>


      <div *ngIf="imagePreview" class="image-preview">
        <img [src]="imagePreview" alt="Selected Image" />
        <button mat-icon-button color="warn" class="remove-btn" (click)="removeImage()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="blogForm.invalid" (click)="saveBlog()">
    {{ isEdit ? 'Update' : 'Save' }}
  </button>
</div>
