<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidebar" mode="side" opened>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="side-bar-icon">{{ item.icon }}</mat-icon>
        <span class="sidebar-item-name">{{ item.name }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
